@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2%;
}

html, body{
    height: 100%;
    overflow-y: hidden; /* Não vai ter scroll na tela */
    overflow-x: hidden;
}

header{
    padding: 20px 0;
    height: 200px;
}

.logo{
    width: 50%;
}

.menu{
    width: 50%;
    text-align: right;
    margin-top: 20px;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 12pt;
}

.section.about{
    position:relative;
    height: calc(100%-200px);
}

.extra{
    position: absolute;
    bottom: -500px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    background-color: #276a3e;
    border-radius: 50%;    
}

.extra img{
    position: relative;
    left: 50px;
    top: -25px;
}

.social-media{
    position: absolute;
    right: 510px;
    top: 40px;
    margin: 80px 0;
}

.social-media img{

    display: block; /*alinhar abaixo */
    padding: 15px;
    margin: 5px 0;
}

.text-about{
    margin-top: -20px;
    margin-left: 80px;
}
.text-about > h1{
    font-size: 60px;
    font-weight:400;
    line-height:140%;
}

.text-about > p{

    color: black;
    max-width: 40%;
    font-weight: 400;
    margin-bottom: 12pt;
    font-size: 12pt
}

.text-about button{
    padding: 5px 20px;
    background-color: #276a3e;
    border-radius: 18px;
    color: white;
    font-weight: 300;
    cursor: pointer;
    outline: none;
    border: none
}

#bucks {
    color: #276a3e;
    font-size: 90px;
    font-weight: bold;

    /* # para id mas só span serveria*/
}
